body {
  margin: 0;
  background: linear-gradient(180deg, rgb(4, 125, 149), rgb(255, 255, 255));
  display: flex;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  justify-content: center;
}
#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 2rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 1rem;
  background: aliceblue;
}
.auth-header {
  background-color: var(--amplify-components-authenticator-router-background-color);
  box-shadow: var(--amplify-components-authenticator-router-box-shadow);
  border-color: var(--amplify-components-authenticator-router-border-color);
  border-width: var(--amplify-components-authenticator-router-border-width);
  border-style: var(--amplify-components-authenticator-router-border-style);
  border-bottom: none;
}
.amplify-label {
  font-weight: 500;
}

.activeItem {
  background-color: bisque;
}
.noDecor {
  text-decoration: none;
}

.amplify-table__row td:nth-child(1){
  min-width: 150px;
}
.amplify-table__row td:nth-child(2){
  min-width: 220px;
}